
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image:url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#canvas_1{
	border-style:solid ;
	background-color: chartreuse;
	background-position: center;
}
